#Database
POSTGRES_DB=conduit_database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=changeme

#Django
SECRET_KEY_DB='mysecretkey'
DEBUG_VALUE="True"
DJANGO_PORT=8000
ALLOWED_HOSTS_DB=conduit-backend,localhost,server_ip,server_ip:port 
CORS_ORIGIN_WHITELIST_DB=<server-ip>:<port>

