#Database
POSTGRES_DB=conduit_database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=changeme

#Django
SECRET_KEY_DB='mysecretkey'
DEBUG_VALUE="True"
DJANGO_PORT=8000
ALLOWED_HOSTS_DB=conduit-backend,localhost,<server-ip>
CORS_ORIGIN_WHITELIST_DB=http://<server-ip>:<port>

DEPLOYMENT_PATH=/home/user/<projectname>

#Frontend
FRONTEND_PORT=8282

